html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;

	&.know-more {
		color: #fff;
		font-family: 'Joystix';
		font-size: 1.5rem !important;
	}
}

ul {
	padding-left: 0;
	list-style-type: none;

	li {
		list-style-type: none;
	}

	&.inline {
		overflow-x: scroll;
		white-space: nowrap;

		li {
			display: inline-block;
		}
	}
}

.hide-on-phone-only, .hide-on-phone-and-down {
	@media #{$phone-and-down} {
		display: none !important;
	}
}
.hide-on-tablet-and-down {
	@media #{$tablet-and-down} {
		display: none !important;
	}
}
.hide-on-tablet-and-up {
	@media #{$tablet-and-up} {
		display: none !important;
	}
}
.hide-on-tablet-only {
	@media only screen and (min-width: $phone-screen) and (max-width: $tablet-screen) {
		display: none !important;
	}
}
.hide-on-desktop-only {
	@media #{$desktop-and-up} {
		display: none !important;
	}
}
.display-on-desktop {
	@media #{$desktop-and-up} {
		display: block !important;
	}
}
.display-on-tablet {
	@media only screen and (min-width: $phone-screen) and (max-width: $tablet-screen) {
		display: block !important;
	}
}
.display-on-phone {
	@media #{$phone-and-down} {
		display: block !important;
	}
}
.display-on-tablet-and-up {
	@media #{$tablet-and-up} {
		display: block !important;
	}
}
.display-on-tablet-and-down {
	@media #{$tablet-and-down} {
		display: block !important;
	}
}

.display-on-phone-only {
	@media #{$phone-and-down} {
		display: block !important;
	}
}

.center-on-phone-only {
	@media #{$phone-and-down} {
		text-align: center;
	}
}

.hide {
	display: none !important;
}

.left-align {
	text-align: left;
}
.right-align {
	text-align: right
}
.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.z-depth-0 {
	box-shadow: none !important;
}
.z-depth-1 {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.z-depth-1-half {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.z-depth-2 {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-3 {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.z-depth-4 {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.z-depth-5 {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}