html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

ul {
	padding-left: 0;
	list-style-type: none;

	li {
		list-style-type: none;
	}

	&.inline {
		overflow-x: scroll;
		white-space: nowrap;

		li {
			display: inline-block;
		}
	}
}

.hide-on-phone-only, .hide-on-phone-and-down {
	@media #{$phone-and-down} {
		display: none !important;
	}
}
.hide-on-tablet-and-down {
	@media #{$tablet-and-down} {
		display: none !important;
	}
}
.hide-on-tablet-and-up {
	@media #{$tablet-and-up} {
		display: none !important;
	}
}
.hide-on-tablet-only {
	@media only screen and (min-width: $phone-screen) and (max-width: $tablet-screen) {
		display: none !important;
	}
}
.hide-on-desktop-only {
	@media #{$desktop-and-up} {
		display: none !important;
	}
}
.display-on-desktop {
	@media #{$desktop-and-up} {
		display: block !important;
	}
}
.display-on-tablet {
	@media only screen and (min-width: $phone-screen) and (max-width: $tablet-screen) {
		display: block !important;
	}
}
.display-on-phone {
	@media #{$phone-and-down} {
		display: block !important;
	}
}
.display-on-tablet-and-up {
	@media #{$tablet-and-up} {
		display: block !important;
	}
}
.display-on-tablet-and-down {
	@media #{$tablet-and-down} {
		display: block !important;
	}
}

.display-on-phone-only {
	@media #{$phone-and-down} {
		display: block !important;
	}
}

.center-on-phone-only {
	@media #{$phone-and-down} {
		text-align: center;
	}
}

.hide {
	display: none !important;
}

.left-align {
	text-align: left;
}
.right-align {
	text-align: right
}
.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}