html {
	overflow: hidden;
}	

.white {
	color: #fff !important;
}

#ifsp-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
	background-size: cover;
	background-position: center center;
	z-index: -1;
	overflow: visible;
}

#ifsp-animate {
	margin: 0;
	padding: 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #FAFAFA;
}

.fp-section {
	position: relative;
}

.fp-section > h2 {
	padding-top: 2rem;
}

.fp-slides {
	height: auto
}

.map-container {
	position: relative;
	z-index: 1;
}

#map-canvas {
	margin: 50px 0;
	width: 100%;
	height: 400px;
}

@media (max-width: 992px) { 	
	#map-canvas {
		height: 300px;
	}
}

.directions {	
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	text-align: center;
	height: 50px;
	line-height: 46px;
	padding: 0 5px;

	i {
		padding: 0 5px;
		vertical-align: middle
	}
}

.logo {
	position: fixed;
	top: 70px;
	left: calc(50% - 175px);
	width: 350px;
}

.register {
	position: absolute;
	bottom: 70px;
	left: calc(50% - 94px);
}

.valign-wrapper {
	display: flex;
	align-items: center;

	.valign {
		display: block;
	}
}

.down {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: calc(50% - 36px);
	text-align: center;
	& i {
		font-size: 5rem;
	}

	&:hover {
		opacity: 1 !important;
	}

	animation: blink 2s ease-in infinite;
}

@keyframes blink {
	from, to { opacity: 1 }
	50% { opacity: 0.2 }
}

.weekdays {
	overflow: hidden;
}

.weekdays ul {
	white-space: nowrap;
	transition: all ease 750ms;
	position:relative;
	overflow: visible;
}

.schedule li {
	font-size: 2rem;

	& a {
		font-size: 1rem;
	}
}

.schedule .time {
	font-family: 'Joystix';
}

@media only screen and (max-width: $phone-screen) {
	.schedule li {
		font-size: 1rem;
	}
}

@media only screen and (max-width: $tablet-screen) {
	.schedule li {
		font-size: 1.4rem;
	}
}

.address {
	font-size: 1.3rem;

	p {
		margin: 10px 0;
	}

	i {
		vertical-align: middle
	}
}

.developer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 999;
}

.modal.open {
	overflow: hidden
}