html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

ul {
	padding-left: 0;
	list-style-type: none;

	li {
		list-style-type: none;
	}

	&.inline {
		overflow-x: scroll;
		white-space: nowrap;

		li {
			display: inline-block;
		}
	}
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right
}

.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}