html {
	overflow: hidden;
}	

#ifsp-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
	background-size: cover;
	background-position: center center;
	z-index: -1;
}

#ifsp-animate {
	margin: 0;
	padding: 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: #FAFAFA;
}

.fp-section {
	position: relative
}

.map-container {
	position: relative;
	z-index: 1;
}

#map-canvas {
	width: 100%;
	height: 300px;
}

@media (max-width: 992px) { 	
	#map-canvas {
		height: 300px;
	}
}

.directions {	
	position: absolute;
	top: 100px;
	left: 10px;
	padding: 0 0.8rem;
	text-align: center;
	margin: 0 5px;
}

.logo {
	position: fixed;
	top: 50px;
	left: calc(50% - 175px);
	width: 350px;
}

.register {
	position: absolute;
	bottom: 70px;
	left: calc(50% - 94px);
}

.valign-wrapper {
	display: flex;
	align-items: center;

	.valign {
		display: block;
	}
}

.down {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: calc(50% - 36px);
	text-align: center;
	& i {
		font-size: 5rem;
	}

	&:hover {
		opacity: 1 !important;
	}

	animation: blink 2s ease-in infinite;
}

@keyframes blink {
	from, to { opacity: 1 }
	50% { opacity: 0.2 }
}