html {
	font-family: 'Open Sans';
	font-weight: normal;
	color: $text-color;
	line-height: 1.5;

	@media only screen and (min-width: 0) {
		font-size: 14px;
	}

	@media only screen and (min-width: $tablet-screen) {
		font-size: 14.5px;
	}

	@media only screen and (min-width: $desktop-screen) {
		font-size: 15px;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Joystix';
}

@media only screen and (min-width: 0) {
	h1 { font-size: $h3-fontsize; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2) 0;}
	h2 { font-size: $h4-fontsize; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2) 0;}
	h3 { font-size: $h5-fontsize; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2) 0;}
	h4 { font-size: $h6-fontsize; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2) 0;}
	h5 { font-size: $h6-fontsize; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2) 0;}
	h6 { font-size: $h6-fontsize; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2) 0;}
}

@media only screen and (min-width: $tablet-screen) {
	h1 { font-size: $h2-fontsize; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2) 0;}
	h2 { font-size: $h3-fontsize; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2) 0;}
	h3 { font-size: $h4-fontsize; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2) 0;}
	h4 { font-size: $h5-fontsize; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2) 0;}
	h5 { font-size: $h6-fontsize; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2) 0;}
	h6 { font-size: $h6-fontsize; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2) 0;}
}

@media only screen and (min-width: $desktop-screen) {
	h1 { font-weight: 600; font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2) 0;}
	h2 { font-weight: 600; font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2) 0;}
	h3 { font-weight: 600; font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2) 0;}
	h4 { font-weight: 600; font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2) 0;}
	h5 { font-weight: 600; font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2) 0;}
	h6 { font-weight: 600; font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2) 0;}

}

.light { font-weight: 300; }
.normal { font-weight: normal; }
.bold { font-weight: 600; }
.bolder { font-weight: bold; }
.boldest { font-weight: 800; }
.italic { font-style: italic; }